.sidebar-list-item a i{
    margin-right: 5px;
    font-size: 15px;
    border: 1px solid;
    padding: 10px 8px;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 14px;
}
.logo{
    width: 140px;
}
.sidebar-menu .sidebar-link.active {
    background: #215ddc;
    background-image: linear-gradient(to right, #215ddc, #01c2ff);
}
.collpaseExpand{
    color: #ee3a6a !important;
}
.page-holder{
    padding-top: 1rem;
}
.page-header {
    margin-bottom: 1rem;
}
.page-heading{
    letter-spacing: 0;
}
.notifIcon{
    font-size: 26px;
}
.text-uppercase{
    letter-spacing: 0;
}
.card-heading{
    letter-spacing: .1em;
}
.jd-textarea{
    width: 100%;
    height: 75px;
    background-color: #f9f9f9;
    padding: 7.5px 7.5px 3.75px;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    font-size: 14px;
    resize: none;

}
.card-heading{
    font-weight: 500;
    color: #000;
}
.card-header-title{
    padding-left: 0;
    
}
.choices__list--dropdown, .choices__list[aria-expanded]{
    z-index: 9 !important;
}
.downloadList{
    float: right;
    color: #ee3a6a !important;
}

.btn-info{
    background: #215ddc;
    background-image: linear-gradient(#215ddc, #01c2ff);
}